generator/target
generator/.idea
generator/*.iml
generator/*.adoc
generator/.classpath
generator/.project
generator/.settings/**
out
books/master.html
Makefile.publish
html/
books/build/**
.idea

# MacOS custom attributes internal file
.DS_Store